{% extends "index.html.twig" %}

{% block section %}

   <form method="post" action="index.php" class="well">

    <fieldsetclass="form-group">

      <div class="row">
        <div class="col">
        <input type="text" id="Nom_Categorie" class="form-control" name="Nom_Categorie" required placeholder="*Nom de la catégorie">
        </div>
        <input type="submit" id="create" class="btn btn-primary" name="categorieajout" value="valider l'ajout"/>
   </fieldset>
   </form>
{% endblock %}